body {
    background: linear-gradient(to right, #fceabb, #f8b500);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    width: 380px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    color: #333;
    margin-bottom: 5px;
}

.tagline {
    color: #777;
    font-size: 14px;
    margin-bottom: 15px;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 15px 0;
}

h2 {
    color: #444;
    margin-top: 15px;
}

p {
    font-size: 14px;
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #ffe0b2;
    margin: 6px;
    padding: 6px;
    border-radius: 8px;
}

button {
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #f8b500;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
